@import "tailwindcss";

html, body {
    background: #181824 !important;
    color: #f3f4f6 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: radial-gradient(
    350px circle at var(--mouse-x) var(--mouse-y),
    rgba(162, 28, 175, 0.25),
    transparent 80%
  );
}

.project-card:hover::before {
  opacity: 1;
}
